//- template.pug

style
  include ../styles.css
  | @page { margin: 24px; }

table.title-row
  tbody
    tr
      td
        div(style="margin-top: 15px") Yukon Heritage Information System
        div.item-name #{data.Surname}, #{data.GivenName}
      td.brand-logo
        include ../yukon.svg

div.section
  div.section-title Personal information
  table.divided-row
    tbody
      tr
        td
          div.field
            span.label Surname
            span.value #{data.Surname}
          div.field
            span.label Given Name
            span.value #{data.GivenName}
          div.field
            span.label Notes
            span.value #{data.Notes}
        td
          div.field
            span.label Birth Year
            span.value #{data.BirthYear}
          div.field
            span.label Death Year
            span.value #{data.DeathYear}

div.section
  div.section-title History
  each val in data.histories
    div.subfield
      | #{val.HistoryText}
      br
      em Reference: #{val.Reference}
  else
    div.subfield.empty None recorded
