//- template.pug

style
  include ../styles.css
  | @page { margin: 24px; }

table.title-row
  tbody
    tr
      td
        div(style="margin-top: 15px") Yukon Heritage Information System
        div.item-name #{data.Name}
      td.brand-logo
        include ../yukon.svg

div.section
  div.section-title General information
  table.divided-row
    tbody
      tr
        td
          div.field
            span.label Name
            span.value #{data.Name}
          div.field
            span.label Registration Number
            span.value #{data.RegistrationNumber}
          div.field
            span.label Vessel Type
            span.value #{data.VesselType}
          div.field
            span.label Current Location Description
            span.value #{data.CurrentLocation}
        td
          div.field
            span.label Construction Date
            span.value #{data.ConstructionDate}
          div.field
            span.label Service Start Date
            span.value #{data.ServiceStart}
          div.field
            span.label Service End Date
            span.value #{data.ServiceEnd}
          div.field
            span.label Notes
            span.value #{data.Notes}

div.section
  div.section-title Owners & Names
  div.subhead Owners
  each val in data.owners
    div.subfield #{val.OwnerName}
  else
    div.subfield.empty None recorded
  div.subhead Names
  each val in data.pastNames
    div.subfield #{val.BoatName}
  else
    div.subfield.empty None recorded

div.section
  div.section-title History
  each val in data.histories
    div.subfield
      | #{val.HistoryText}
      br
      em Reference: #{val.Reference}
  else
    div.subfield.empty None recorded
