//- template.pug

style
     include ../styles.css
    
table.title-row
  tbody 
    tr 
      td
        div Aircrash information
        div.item-name #{data.yacsinumber} #{data.aircrafttype}  (#{data.aircraftregistration})
      td
        img(style='width:200px; height:100px;' src="https://firebasestorage.googleapis.com/v0/b/yg-historic-sites.appspot.com/o/yukon.svg?alt=media&token=41e6cd68-0efd-438f-aef0-44bec1e15b55", alt="")

div.section-title General information

table.divided-row
  tbody 
    tr 
      td
        div YACSI Number: #{data.yacsinumber}
        div Aircraft Maker/Model: #{data.aircrafttype}
        div Crash Date: #{data.crashdate}
        div Pilot: #{data.pilotrank} #{data.pilotfirstname} #{data.pilotlastname}
      td
        div Aircraft Registration: #{data.aircraftregistration}
        div Country of Registration: #{data.nation}
        div Registration Type: #{data.militarycivilian}

div.section-title Location Details
table.divided-row
  tbody 
    tr 
      td
        div Latitude: #{data.lat}
        div Longitude Maker/Model: #{data.long}
        div Accuracy: #{data.accuracy}
        div Crash site within Yukon?: #{data.inyukon}
      td
        div Location Description: #{data.crashlocation}

div.section-title Crash Details
table.divided-row
  tbody 
    tr 
      td
        div Remains on site: #{data.yacsinumber}
        div Extent of remains on site: #{data.aircrafttype}
        div Other location of remains: #{data.crashdate}
        div Description of crash event: #{data.descriptionofcrashevent}
      td
        div Souls on board: #{data.soulsonboard}
        div Injuries: #{data.injuries}
        div Fatalities: #{data.fatalities}
        div Additional Info: #{data.comments}
        
div.section-title Crash Sources 
table.divided-row
  tbody 
    tr 
      td
        div Remains on site: #{data.significanceofaircraft}
      td
        table.table-full-width
          thead 
            tr 
              td Source
          tbody
            each val in data.infoSources
              tr 
                td #{val.Source}

        
        
        
