//- template.pug

style
  include ../styles.css
  | @page { margin: 24px; }

table.title-row
  tbody
    tr
      td
        div(style="margin-top: 15px") Yukon Heritage Information System
        div.item-name #{data.SiteName}
      td.brand-logo
        include ../yukon.svg

div.section
  div.section-title Site information
  table.divided-row
    tbody
      tr
        td
          div.field
            span.label Site Name
            span.value #{data.SiteName}
          div.field
            span.label Established Year
            span.value #{data.EstablishedYear}
          div.field
            span.label Maintained By
            span.value #{data.MaintainedBy}
        td
          div.field
            span.label Advanced Notification Signs
            span.value #{data.AdvancedNotification}
          div.field
            span.label Advanced Notification Description
            span.value #{data.NotificationDesc}

div.section
  div.section-title Location
  table.divided-row
    tbody
      tr
        td
          div.field
            span.label Location Description
            span.value #{data.LocationDesc}
          div.field
            span.label Route Name
            span.value #{data.RouteName}
          div.field
            span.label Map Sheet
            span.value #{data.MapSheet}
        td
          div.field
            span.label KM Number
            span.value #{data.KMNumber}
          div.field
            span.label Latitude
            span.value #{data.Latitude}
          div.field
            span.label Longitude
            span.value #{data.Longitude}

div.section
  div.section-title Assets
  each val in data.assets
    div.subfield
      strong #{val.Category} - #{val.Type}
      br
      | Size: #{val.Size}
      br
      | Description: #{val.Description}
      br
      | Sign Text: #{val.SignText}
      br
      | Install Date: #{val.InstallDate}
      br
      | Active: #{val.Status}
  else
    div.subfield.empty None recorded

div.section
  div.section-title Actions
  each val in data.actions
    div.subfield
      strong #{val.ActionDesc}
      br
      | To Be Complete: #{val.ToBeCompleteDate}
      br
      | Completed: #{val.ActionCompleteDate}
      br
      | Route: #{val.Route}
      br
      | Completion Description: #{val.CompletionDesc}
      br
      | Priority: #{val.Priority}
  else
    div.subfield.empty None recorded

div.section
  div.section-title Inspections
  each val in data.inspections
    div.subfield
      strong #{val.InspectionDate}
      br
      | Description: #{val.Description}
      br
      | Inspected By: #{val.InspectedBy}
      br
      | Actions: #{val.Actions}
  else
    div.subfield.empty None recorded
